.main{ color: $main-color; }
.white{ color: $white; } 
.black{ color: $black; }
.gray{ color: $gray; }
.grey{ color: $grey; }
.green{ color: $green; }
.red{ color: $red; }
.blue{ color: $blue; }
.yellow{ color: $yellow; }

.bgMain{ background-color: $main-color; }
.bgWhite{ background-color: $white; }
.bgBlack{ color: $black; }
.bgGray{ color: $gray; }
.bgGrey{ color: $grey; }
.bgGreen{ color: $green; }
.bgRed{ color: $red; }
.bgBlue{ color: $blue; }
.bgYellow{ color: $yellow; }

body{
    background-color: #000000;
    color: #FFFFFF;
}

input{
    &::placeholder{
        color: #FFFFFF80;
    }
}

.page{
    width: 100vw;
    min-height: 100vh;
    min-height: 100dvh;
    background: linear-gradient(#000000, #2D1711);
}

.linearTxt{
    display: inline-block;
    background: linear-gradient(281.88deg, #FFF1BF 24.66%, #FFF1BF 37.09%, #FFCD48 39.28%, #FFF1BF 59.99%, #FFCD48 64.38%, #FFF1BF 75.34%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}